.admin-page {
  display: grid;
  grid-template-columns: 220px 1fr;
  min-height: 479px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/* SIDEBAR */
.admin-sidebar {
  background-color: #d8d0ef;
  padding: 20px;
  gap: 10px;
  overflow-x: auto;
}

.admin-sidebar button {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  border: none;
  background: transparent;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

/* TABELES */
.admin-content {
  background-color: var(--light-pink);
  border: 5px solid var(--light-purple);
  padding: 30px;
}

.admin-title {
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: var(--dark-purple);
}

.create-button {
  width: 20%;
  background-color: var(--purple);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #eee8ff;
}

.admin-table th {
  background-color: var(--dark-purple);
  color: white;
  padding: 12px;
  text-align: center;
}

.admin-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #c8bde8;
}

.admin-actions {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.actions-btn-admin {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-end;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}