@import "./globals.css";

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.moon_image {
    background-image: var(--moon-image);

    display: block;
    margin: 2% auto;
    width: 100px;
    height: 100px;

    @media (max-width: 768px) {
        margin-top: 5%;
    }
}
