 /* SUCESS ORDER */
.container-order {
    background-color: var(--light-pink);
    border: 5px solid var(--light-purple);
    padding: 25px;
    text-align: center;
    margin: 20px 0 40px 0;
}

.order-header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--dark-purple);

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.order-header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    line-height: 1.2;

    @media (max-width: 768px) {
        position: static;
        transform: none;
    }
}
.order-header span {
    margin-left: auto;
    position: relative;
    justify-content: right;
    font-size: 16px;
}

.order-books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.order-book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    text-align: center;
}

.order-book-cover {
    width: 90px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}
.order-book-title {
    margin-top: 10px;
    font-size: 20px;
    color: var(--dark-purple);
}

.order-book-date {
    margin-top: 5px;
    font-size: 14px;
}

.order-book-status {
    margin-top: 5px;
    font-size: 13px;
}

/* QUESTION ORDER */
.order-actions {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.order-actions button {
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}